In [1]:
## cleaning payals final prep code

In [2]:
# Libraries 
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re

%matplotlib inline

In [5]:
# Read in data 
    
payal_df = pd.read_csv("../data/clean_final_flood_payal.csv",
            parse_dates = ["Published Date"])

In [7]:
payal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
Unnamed: 0        35 non-null int64
Published Date    35 non-null datetime64[ns]
source            35 non-null object
heading           35 non-null object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 1.2+ KB

In [9]:
payal_df.head()

,Unnamed: 0,Published Date,source,heading
0,0,2012-08-09,https://www.dainiktribuneonline.com/2012/08/मा...,the scene of the bus stand chowk was inundated...
1,1,2010-08-01,https://www.dainiktribuneonline.com/2010/08/बा...,hoshiarpur july 31 the roof of the house of a ...
2,2,2010-08-22,https://www.dainiktribuneonline.com/2010/08/%e...,the flood gates of the bhakra dam were opened ...
3,3,2010-08-01,https://www.dainiktribuneonline.com/2010/08/%e...,while the rains in chandigarh on saturday brou...
4,4,2010-08-23,https://www.dainiktribuneonline.com/2010/08/घग...,sangrur 22 august heavy rain in northern india...

In [13]:
payal_df = payal_df.drop(["Unnamed: 0"], axis = 1)

KeyError: "['Unnamed: 0'] not found in axis"

In [14]:
payal_df.head()

,Published Date,source,heading
0,2012-08-09,https://www.dainiktribuneonline.com/2012/08/मा...,the scene of the bus stand chowk was inundated...
1,2010-08-01,https://www.dainiktribuneonline.com/2010/08/बा...,hoshiarpur july 31 the roof of the house of a ...
2,2010-08-22,https://www.dainiktribuneonline.com/2010/08/%e...,the flood gates of the bhakra dam were opened ...
3,2010-08-01,https://www.dainiktribuneonline.com/2010/08/%e...,while the rains in chandigarh on saturday brou...
4,2010-08-23,https://www.dainiktribuneonline.com/2010/08/घग...,sangrur 22 august heavy rain in northern india...

In [18]:
# check how the datetime data is formatted
payal_df["Published Date"][1]

Timestamp('2010-08-01 00:00:00')

In [19]:
# function to rename columns to "date", "source", "text"
def rename_col(df, column_date, column_source, column_text):
    df.rename(columns={column_date: "date",
                       column_source: "source", 
                       column_text :"text"}, 
              inplace = True)

In [20]:
# apply function to the dataframe
rename_col(payal_df, "Published Date", "source", "heading")

In [21]:
payal_df.head()

,date,source,text
0,2012-08-09,https://www.dainiktribuneonline.com/2012/08/मा...,the scene of the bus stand chowk was inundated...
1,2010-08-01,https://www.dainiktribuneonline.com/2010/08/बा...,hoshiarpur july 31 the roof of the house of a ...
2,2010-08-22,https://www.dainiktribuneonline.com/2010/08/%e...,the flood gates of the bhakra dam were opened ...
3,2010-08-01,https://www.dainiktribuneonline.com/2010/08/%e...,while the rains in chandigarh on saturday brou...
4,2010-08-23,https://www.dainiktribuneonline.com/2010/08/घग...,sangrur 22 august heavy rain in northern india...

In [22]:
# create csv file from the new dataframe
payal_df.to_csv("../data/payal_clean.csv", index = False)